@model IEnumerable<e_library.Models.LookupMediaType>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LookupMediaTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LookupMediaTypeId)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LookupMediaTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LookupMediaTypeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LookupMediaTypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LookupMediaTypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LookupMediaTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
