@model e_library.Models.SubjectFiles

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SubjectFiles</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectFileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubjectFileName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectFileURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubjectFileURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubjectDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subjects)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subjects.SubjectId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SubjectFileId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
